.sort-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #257075;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: absolute;
  left: 180px;
}

.sort-button.disabled {
  background-color: #95a5a6;
}
